* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/background_image.png");
  font-family: "Righteous", cursive;
}

.app {
  width: 1000px;
  margin: 5em auto;
  display: flex;
  justify-content: space-between;
}

.custom_background_components {
  background-color: #e4e4e1;
  background-image: radial-gradient(
      at top center,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(143, 152, 157, 0.6) 100%
    );
  background-blend-mode: normal, multiply;
  opacity: 0.8;
  border-radius: 50px;
  font-size: 20px;
}

.aside {
  height: 700px;
  width: 300px;
}

.aside__block {
  height: 330px;
  overflow:hidden;

}

.aside__block__titles {
  padding: 1em 1em 0.4em 1em;
  font-size: 22px;
}

.aside__block_favorites {
  margin-bottom: 40px;
}

.aside__block_favorites__list,
.aside__block_history__list {
  padding-right: 5px;
  height: 240px;
  list-style: none;
  overflow: auto;
}

.aside__block_favorites__list_element {
  font-size: 24px;
  margin: 0.8em;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.wrapper__main-info_search-field {
  display: inline-block;
  position: relative;
}

.aside__block_history--hide{
  visibility: hidden;
}

.search__input {
  border: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding: 10px;
}

.search-field_button {
  display: block;
  position: absolute;
  right: 7px;
  top: 5px;
  height: 40px;
  background: transparent;
  border: none;
}

.search-field_button:hover {
  cursor: pointer;
}

.search-field_icon {
  height: 40px;
  border-radius: 50px;
  background: white;
  opacity: 0.8;
}

.autocomplete-list {
  position: absolute;
  z-index: 2;
  background: grey;
  opacity: 0.8;
  padding: 1em;
  height : 100px;
  width: 400px;
  border-radius: 0px;
  overflow : auto;
  list-style: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.autocomlpete-list__element:hover {
  background : tomato;
  cursor: pointer;
}

.wrapper__main-info {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-info__today {
  height: 400px;
}

.wrapper_main-info__today_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
}

.main-info__today_header {
  font-size: 70px;
}

.main-info__today_add-to-fav {
  width: 60px;
  background: none;
  border: none;
}

.main-info__today_add-to-fav:hover {
  cursor: pointer;
}

.wrapper_main-info__today {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.main-info__today_image {
  height: 150px;
  width: 150px;
  margin-right: 1em;
}

.wrapper_main-info__today_mesurements {
  margin: auto 10px;
}

.main-info__today_mesurements {
  height: 80px;
  width: 80px;
}

.button_switch-mesurments {
  width: 30px;
  background: black;
  border: none;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
}

.button_switch-mesurments:hover {
  cursor: pointer;
  background-color: #e4e4e1;
  background-image: radial-gradient(
      at top center,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(143, 152, 157, 0.6) 100%
    );
  background-blend-mode: normal, multiply;
  color: black;
  transition: background 0.3s ease, fill 0.3s ease;
}

.main-info__today_current-temperature {
  font-size: 90px;
  line-height: 150px;
  vertical-align: 50%;
}

.wrapper_main-info__today_additional {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
}

.wrapper_main-info__today_option {
  width: 140px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.option_icon {
  width: 70px;
  margin: 0 auto;
}

.option_text {
  font-size: 24px;
}

.main-info__week {
  height: 200px;
}

.main-info__week_list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-inline-start: 0;
}

.main-info__week_day-card {
  margin: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-info__week_day-card_title {
  font-size: 30px;
}

.main-info__week_day-card_image {
  width: 70px;
  margin: 5px auto;
}

.main-info__week_day-card_monday-deg {
  font-size: 30px;
}
